<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Some Wesbite</title>
</head>

<body>
  {{> header}}
  <!--Double braces used for passing values-->
  <p>Test Text</p>
</body>

{{> footer}}

</html>
