<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel='stylesheet' type='text/css' href='styles/reportPage.css' />

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <title>Report a Problem</title>
</head>

<body>

  <div class="row">
    <div class="col-md-4 col-md-offset-4" id="reportBody">

      <h1> Reporter Name  </h1>
      <textarea rows="2" cols="75"></textarea>

      <h1> Date and Time of Submission </h1>
      <textarea rows="2" cols="75"></textarea>

      <h1> QA or Production </h1>
      <textarea rows="2" cols="75"></textarea>

      <h1> Time of Issue Occurance </h1>
      <textarea rows="2" cols="75"></textarea>

      <h1> URL of Problem Page </h1>
      <textarea rows="2" cols="75"></textarea>

      <h1> Error Message (if given) </h1>
      <textarea rows="2" cols="75"></textarea>

      <h1> Operating System </h1>
      <textarea rows="2" cols="75"></textarea>

      <h1> Browser </h1>
      <textarea rows="2" cols="75"></textarea>

      <h1> Severity Level</h1>
      <textarea rows="2" cols="75"></textarea>


      <div class="dropdown">
        <button class="dropbtn">Severity Definitions</button>
        <div class="dropdown-content">
          <ul>Severity
            <li>Critical : Previously entered data is lost</li>
            <li>Major: Prevents work from progressing or prevents data from saving</li>
            <li>Medium: Does not stop progress but requires workaround</li>
            <li>Minor: Strange or unexpected behavior that does not require a workaround</li>
            <li>Cosmetic: No functionality lost, but has cosmetic problems such as misalignment, bad fonts/colors, or truncated text/images</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>



{{> footer}}

</html>
